1. Download latest version of Android studio
2. Download JDK version 8
3. Open Android studio.
3.1) Go to File -> Settings -> Appearance & Behavior
	-> System Settings -> Android SDK
3.2) Under SDK Platforms tab, make sure Android 8.0 and Android 7.1.1
are installed.
4.) Plug an android device to Computer's USB and make sure the mobile is in USB Debugging Mode or Enable Debugging Mode.
5.) Android Studio, Click Run -> Run App. The application will be installed in the mobile device.